/.vs/QuickTimeParser/FileContentIndex/b641c5c9-c5ed-4ee8-af9c-62b0a087dbc8.vsidx
/.vs/QuickTimeParser/FileContentIndex/20542936-894c-4bb7-a1ba-d100a7b35c51.vsidx
/.vs/QuickTimeParser/v17/.suo
/.vs/QuickTimeParser/v17/DocumentLayout.json
